@font-face {
    font-family: Macondo;
    src: url(./fonts/Macondo-Regular.ttf);
}

html {
    background-color: rgb(245, 245, 245);
    background-image: url(./img/ArchiveBGPic.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Macondo,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: 2px 2px 3px rgb(167, 167, 167);
    border-radius: 8px;
    /* border-left: 6px solid #0369a1; */
    padding: 30px;
    /* width: 300px; */
    margin: 30px auto 30px auto;

}

.width300 {
    max-width: 300px;
}

.card > h1 {
    text-align: center;
    font-size: xx-large;
}

.card > img {
    display: block;
    margin: auto;
    height: 60vh;
    width: auto;
    border: 3px solid #0369a1;
}

.carousel {
    display: flex;
    background-color: rgba(34, 34, 34, 0.61);
}

button {
    border-radius: 14px;
    border: none;
    margin-top: 5px;
    height: 30px;
    font-family: Macondo,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    background-color: #0ea5e9;
    color: white;
}

.grid {
    display: grid;
}